h3,
h4,
h5 {
  color: #ff0000;
}
a {
  color: #ff0000;
}
a:hover {
  color: #000;
}
a:active {
  color: #ff0000;
}
.alternative-font {
  color: #ff0000;
}
p.drop-caps:first-child:first-letter {
  color: #ff0000;
}
p.drop-caps.secundary:first-child:first-letter {
  background-color: #ff0000;
}
ul.nav-pills > li.active > a,
ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
  background-color: #ff0000;
}
div.sort-source-wrapper .nav > li.active > a,
div.sort-source-wrapper .nav > li.active > a:hover,
div.sort-source-wrapper .nav > li.active > a:focus {
  color: #ff0000;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ff0000;
}
.btn-primary,
.pagination > .active > a {
  border-color: #ff0000;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff0000;
  border-color: #ff0000 #ff0000 #ff0000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover,
.pagination > .active > a:hover {
  border-color: #ff0000;
  background-color: #ff0000;
}
.btn-primary:active,
.pagination > .active > a:active,
.btn-primary:focus,
.pagination > .active > a:focus {
  border-color: #ff0000;
  background-color: #ff0000;
}
.progress-bar-primary {
  background-color: #ff0000;
}
body.boxed div.body {
  border-top-color: #ff0000;
}
section.highlight {
  background-color: #ff0000;
  border-color: #0077b3;
}
section.page-top h2 {
  border-bottom-color: #ff0000;
}
section.toggle label {
  color: #ff0000;
  border-left-color: #ff0000;
}
section.toggle.active > label {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #FFF;
}
section.page-top.custom-product {
  background-color: #0077b3;
  border-top-color: #0081c2;
}
div.feature-box div.feature-box-icon {
  background-color: #ff0000;
}
ul.history li div.featured-box div.box-content {
  border-top-color: #ff0000;
}
div.feature-box.secundary div.feature-box-icon i.icon {
  color: #ff0000;
}
a.thumb-info span.thumb-info-type {
  background-color: #ff0000;
}
a.thumb-info span.thumb-info-action-icon {
  background-color: #ff0000;
}
.thumbnail span.zoom {
  background-color: #ff0000;
}
span.thumb-info-social-icons a {
  background-color: #ff0000;
}
.inverted {
  background-color: #ff0000;
}
div.tabs ul.nav-tabs a,
div.tabs ul.nav-tabs a:hover {
  color: #ff0000;
}
div.tabs ul.nav-tabs a:hover {
  border-top-color: #ff0000;
}
div.tabs ul.nav-tabs li.active a {
  border-top-color: #ff0000;
  color: #ff0000;
}
ul.list.icons li i {
  color: #ff0000;
}
i.icon-featured {
  background-color: #ff0000;
}
.parallax blockquote i.icon-quote-left {
  color: #ff0000;
}
section.video blockquote i.icon-quote-left {
  color: #ff0000;
}
.panel-heading a {
  color: #ff0000;
}
header {
  /* Single Menu */
  /* Header Darken Top Border */
  /* Header Version 4 */
  /* Header Flat Menu */
  /* Mega Menu */
}
header nav ul.nav-main ul.dropdown-menu,
header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
header nav ul.nav-main li.active a,
header nav ul.nav-main li > a:hover,
header nav ul.nav-main li.dropdown:hover a {
  color: #FFF;
  background-color: #ff0000 !important;
}
header nav ul.nav-main ul.dropdown-menu li:hover > a {
  background-color: #00aaff !important;
}
header nav ul.nav-main ul.dropdown-menu {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff0000;
  border-color: #ff0000 #ff0000 #ff0000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
header nav ul.nav-main ul.dropdown-menu:hover {
  border-color: #0099e6;
  background-color: #0099e6;
}
header nav ul.nav-main ul.dropdown-menu:active,
header nav ul.nav-main ul.dropdown-menu:focus {
  border-color: #0077b3;
  background-color: #0077b3;
}
header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a {
  background: none !important;
}
header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
  background: #b60101 !important;
}
header.single-menu nav ul.nav-main li.active > a {
  border-top: 5px solid #ff0000;
}
header.darken-top-border {
  border-top: 5px solid #0077b3;
}
header.colored div.header-top {
  background-color: #ff0000;
}
header.colored div.header-top ul.nav-top li a:hover {
  background-color: #0099e6 !important;
}
header.flat-menu nav ul.nav-main li > a,
header.flat-menu nav ul.nav-main li.active > a {
  color: #666;
}
header.flat-menu nav ul.nav-main li.active > a {
  color: #ff0000;
  background-color: transparent !important;
}
header.flat-menu nav ul.nav-main li > a:hover,
header.flat-menu nav ul.nav-main li.dropdown:hover a {
  color: #FFF;
  background-color: #ff0000 !important;
}
header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
  border-top-color: #ff0000;
}
div.slider div.tp-bannertimer {
  background-color: #ff0000;
}
div.home-intro p em {
  color: #00aaff;
}
div.home-concept strong {
  color: #ff0000;
}
blockquote.testimonial {
  background: #0099e6;
}
div.testimonial-arrow-down {
  border-top-color: #0099e6;
}
div.recent-posts div.date span.month,
article.post div.post-date span.month {
  background-color: #ff0000;
}
div.recent-posts div.date span.day,
article.post div.post-date span.day {
  color: #ff0000;
}
div.shop ul.products li.product .onsale {
  background-color: #ff0000;
}
div.featured-box-secundary i.icon-featured,
div.featured-box-secundary i.image-icon {
  background-color: #ff0000;
}
div.featured-box-secundary h4 {
  color: #ff0000;
}
div.featured-box-secundary div.box-content {
  border-top-color: #ff0000;
}
div.pricing-table div.most-popular {
  border-color: #ff0000;
}
div.pricing-table div.most-popular h3 {
  background-color: #ff0000;
}
section.timeline .timeline-box.left:before,
section.timeline .timeline-box.right:before {
  background: #ff0000;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #ff0000;
}
footer div.footer-ribon {
  background: #ff0000;
}
footer div.footer-ribon:before {
  border-right-color: #005580;
}
div.shop ul.products li.product .onsale {
  background-color: #ff0000;
  border-bottom-color: #006da3;
}
div.shop .star-rating span,
div.shop .cart-totals tr.total .amount {
  color: #ff0000;
}
