/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #121214;
	font-weight: 200;
	letter-spacing: -1px;
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 44px;
	margin: 0 0 44px 0;
}

h2 {
	font-size: 2.6em;
	font-weight: 300;
	line-height: 42px;
	margin: 0 0 32px 0;
}

h3 {
	color: #CCC;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 24px;
	margin-bottom: 33px;
	text-transform: uppercase;
}

h4 {
	color: #CCC;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 27px;
	margin: 0 0 14px 0;
}

h5 {
	color: #CCC;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 14px 0;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 14px 0;
}

h1.big {
	font-size: 4.2em;
	line-height: 54px;
}

h1.short,
h2.short {
	margin-bottom: 15px;
}

h3.short,
h4.short,
h5.short,
h6.short {
	margin-bottom: 9px;
}

h1.shorter,
h2.shorter,
h3.shorter,
h4.shorter,
h5.shorter,
h6.shorter {
	margin-bottom: 10px;
}

h1.tall,
h2.tall,
h3.tall,
h4.tall,
h5.tall,
h6.tall {
	margin-bottom: 33px;
}

h1.taller,
h2.taller,
h3.taller,
h4.taller,
h5.taller,
h6.taller {
	margin-bottom: 44px;
}

h1.spaced,
h2.spaced,
h3.spaced,
h4.spaced,
h5.spaced,
h6.spaced {
	margin-top: 22px;
}

h1.more-spaced,
h2.more-spaced,
h3.more-spaced,
h4.more-spaced,
h5.more-spaced,
h6.more-spaced {
	margin-top: 44px;
}

div.modal-header h3 {
	color: #333;
	text-transform: none;
}

h1.white,
h2.white,
h3.white,
h4.white,
h5.white {
	color: #FFF;
}

h1.text-shadow,
h2.text-shadow,
h3.text-shadow,
h4.text-shadow,
h5.text-shadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

h2 .inverted {
	min-height: 60px;
}

h2.word-rotator-title {
	line-height: 54px;
}

/* Blockquote */
blockquote {
	font-size: 1em;
}

/* Paragraphs */
p {
	color: #777;
	line-height: 24px;
	margin: 0 0 20px;
}

p .alternative-font {
	display: inline-block;
	margin-top: -15px;
	position: relative;
	top: 3px;
	margin-bottom: -6px;
}

p.featured {
	font-size: 1.6em;
	line-height: 1.5em;
}

p.short {
	margin-bottom: 0;
}

p.tall {
	margin-bottom: 20px;
}

p.taller {
	margin-bottom: 40px;
}

/* Labels */
.label-dark,
.label-dark:hover {
	background: #111;
	text-decoration: none;
	font-weight: normal;
}

/* Drop Caps */
p.drop-caps:first-child:first-letter {
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding: 4px;
	margin-right: 5px;
	margin-top: 5px;
	font-family: Georgia;
}

p.drop-caps.secundary:first-child:first-letter {
	background-color: #CCC;
	color: #FFF;
	padding: 6px;
	margin-right: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Divider Line */
hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	margin: 22px 0 22px 0;
}

hr.short {
	margin: 11px 0 11px 0;
}

hr.tall {
	margin: 44px 0 44px 0;
}

hr.taller {
	margin: 66px 0 66px 0;
}

hr.light {
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.20), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.20), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.20), rgba(255,255,255,0));
	background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.20), rgba(255,255,255,0));
}

/* Video Container */
.video-container {
	padding-top: 25px;
	padding-bottom: 50.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	height: 0;
}

.video-container.vimeo {
	padding-top: 0;
	padding-bottom: 56.4%;
}

.video-container embed,
.video-container iframe,
.video-container object,
.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Miscellaneous */
.center {
	text-align: center;
}

body a {
	outline: none !important;
}

.push-bottom {
	margin-bottom: 35px;
}

.push-top {
	margin-top: 35px;
}

.bold {
	font-weight: bold;
}

li {
	line-height: 24px;
}

.inverted {
	color: #FFF;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.progress {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	height: 20px;
	background: #FAFAFA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10) inset;
	overflow: visible;
}

.progress-bar {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

span.progress-bar-tooltip {
	position: absolute;
	padding: 4px 8px;
	background-color: #333;
	color: #FFF;
	line-height: 15px;
	font-size: 11px;
	display: block;
	position: absolute;
	top: -28px;
	right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	filter: alpha(opacity=0);
	opacity: 0;
}

span.progress-bar-tooltip:after {
	border-color: #333 transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	bottom: -5px;
	content: "";
	display: block;
	left: 13px;
	position: absolute;
	width: 0;
}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Buttons */
.btn-primary[disabled] {
	background-image: none;
}

.btn-icon i {
	margin-right: 10px;
}

.btn-icon-right i {
	margin-right: 0;
	margin-left: 10px;
}

/* Show Grid */
div.show-grid [class*="col-md-"] span.show-grid-block {
	background-color: #EEE;
	line-height: 40px;
	min-height: 40px;
	text-align: center;
	border: 1px solid #FFF;
	display: block;
}

/* Font Awesome */
div.fontawesome-icon-list [class*="col-md-"] {
	margin-bottom: 9px;
}

div.fontawesome-icon-list i {
	font-size: 1.3em;
	margin-right: 5px;
	display: inline-block;
	width: 30px;
	text-align: center;
	position: relative;
	top: 2px;
}

/* Forms */
.form-group:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

form label {
	font-weight: normal;
}

.form-control {
	height: 46px;
	padding: 12px;
}

.form-control:focus {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-color: #CCC;
}

textarea {
	resize: vertical;
}

select {
	border: 1px solid #E5E7E9;
	border-radius: 6px;
	height: 46px;
	padding: 12px;
	outline: none;
}

.label {
	font-weight: normal;
}

/* Forms Validations */
label.valid {
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	color: #C10000;
	font-size: 0.9em;
	margin-top: -5px;
	padding: 0;
}

/* Alternative Font Style */
.alternative-font {
	color: #CCC;
	font-family: "Shadows Into Light", cursive;
	font-size: 1.6em;
}

/* Thumbnails */
.img-thumbnail {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	position: relative;
}

.img-thumbnail span.zoom {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	background: #CCC;
	border-radius: 100%;
	bottom: 8px;
	color: #FFF;
	display: block;
	height: 30px;
	padding: 6px;
	position: absolute;
	right: 8px;
	text-align: center;
	width: 30px;
}

.img-thumbnail span.zoom i {
	font-size: 14px;
	left: -1px;
	position: relative;
	top: -3px;
}

/* Thumb Info */
a.thumb-info {
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	max-width: 100%;
}

a.thumb-info:hover span.thumb-info-action-icon {
	right: 0;
	top: 0;
}

a.thumb-info:hover span.thumb-info-action {
	filter: alpha(opacity=100);
	opacity: 1;
}

a.thumb-info span.thumb-info-action-icon {
	-moz-border-radius: 0 0 0 25px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-border-radius: 0 0 0 25px;
	-webkit-transition: all 0.3s;
	background: #CCC;
	border-radius: 0 0 0 25px;
	display: inline-block;
	font-size: 25px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: -100px;
	text-align: center;
	top: -100px;
	transition: all 0.3s;
	width: 50px;
}

a.thumb-info span.thumb-info-action-icon i {
	font-size: 24px;
	left: 3px;
	position: relative;
	top: -4px;
}

a.thumb-info:hover span.thumb-info-title {
	background: #000;
}

a.thumb-info span.thumb-info-action {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: rgba(36,27,28, .9);
	bottom: 0;
	color: #FFF;
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	opacity: 0.0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	width: 100%;
}

a.thumb-info span.thumb-info-inner {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	display: block;
	transition: all 0.3s;
	white-space: nowrap;
}

a.thumb-info span.thumb-info-title {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: rgba(36,27,28, .9);
	bottom: 10%;
	color: #FFF;
	font-size: 18px;
	font-weight: 700;
	left: 0;
	letter-spacing: -1px;
	padding: 9px 11px 9px;
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	transition: all 0.3s;
	z-index: 1;
}

a.thumb-info span.thumb-info-type {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #CCC;
	border-radius: 2px;
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	margin: 8px -2px -15px -2px;
	padding: 2px 9px;
	text-transform: none;
}

a.thumb-info:hover img {
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

a.thumb-info img {
	-moz-border-radius: 3px;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-border-radius: 3px;
	-webkit-transition: all 0.2s linear;
	border-radius: 3px;
	position: relative;
	transition: all 0.2s linear;
}

span.thumb-info-caption {
	padding: 10px 0;
}

span.thumb-info-caption p {
	font-size: 0.9em;
	line-height: 20px;
	margin: 0 0 8px;
	padding: 10px;
}

span.thumb-info-social-icons {
	border-top: 1px dotted #DDD;
	margin: 0;
	padding: 15px 0;
	display: block;
}

span.thumb-info-social-icons a {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background: #CCC;
	border-radius: 25px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

span.thumb-info-social-icons a:hover {
	text-decoration: none;
}

span.thumb-info-social-icons a span {
	display: none;
}

span.thumb-info-social-icons a i {
	color: #FFF;
	font-size: 0.9em;
	font-weight: normal;
}

a.thumb-info.secundary span.thumb-info-title {
	background: transparent;
	bottom: auto;
	left: 0;
	right: 0;
	top: 35%;
	text-align: center;
	opacity: 0;
}

a.thumb-info.secundary span.thumb-info-type {
	float: none;
}

a.thumb-info.secundary:hover span.thumb-info-title {
	top: 42%;
	opacity: 1;
}

/* Thumbnail Gallery */
ul.thumbnail-gallery {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

ul.thumbnail-gallery li {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 0;
}

/* Navs */
ul.nav-list.primary > li {
	margin: 0;
	padding: 0;
}

ul.nav-list.primary > li a {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background-image: url(../img/list-primary.png);
	background-position: 9px 16px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #EDEDDE;
	padding: 8px 20px;
	transition: all 0.3s;
}

/* Nav Pills */
ul.nav-pills > li.active > a,
ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
	background-color: #CCC;
}

/* Tabs */
div.tabs {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 35px;
}

div.tabs div.tab-content {
	-moz-border-radius: 0 0 4px 4px;
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	-webkit-border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 0 0 4px 4px;
	border-top: 0;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	padding: 15px;
}

div.tabs ul.nav-tabs {
	margin: 0;
}

div.tabs ul.nav-tabs li.active a {
	background: #FFF;
	border-top: 3px solid #CCC;
	color: #CCC;
}

div.tabs ul.nav-tabs a {
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	background: #F4F4F4;
	border: 1px solid #EEE;
	border-bottom: 0;
	border-radius: 8px 8px 0 0;
	color: #666;
	margin-right: 1px;
}

div.tabs ul.nav-tabs a:hover {
	border-top: 2px solid #CCC;
}

div.tabs ul.nav-tabs a:active,
div.tabs ul.nav-tabs a:focus {
	border-bottom: 0;
}

div.tabs ul.nav-tabs a,
div.tabs ul.nav-tabs a:hover {
	border: 1px solid #EEE;
	border-bottom: 0;
	border-top: 2px solid #DDD;
	color: #CCC;
	font-size: 0.9em;
}

/* Read More */
a.read-more,
a.learn-more {
	display: inline-block;
	white-space: nowrap;
}

/* Featured Box */
div.featured-box {
	-moz-border-radius: 8px;
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	-moz-box-sizing: border-box;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	background: #FFFfff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(#FFFfff,0.01),color-stop(#f9f9f9,0.98));
	background: -webkit-linear-gradient(top,  #FFFfff 1%, #f9f9f9 98%);
	background: -moz-linear-gradient(top,  #FFFfff 1%, #f9f9f9 98%);
	background: -o-linear-gradient(top,  #FFFfff 1%, #f9f9f9 98%);
	background: linear-gradient(top,  #FFFfff 1%, #f9f9f9 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#FFFfff), color-stop(98%,#f9f9f9));
	background: -webkit-linear-gradient(top,  #FFFfff 1%,#f9f9f9 98%);
	background: -moz-linear-gradient(top,  #FFFfff 1%,#f9f9f9 98%);
	background: -o-linear-gradient(top,  #FFFfff 1%,#f9f9f9 98%);
	background: linear-gradient(top,  #FFFfff 1%,#f9f9f9 98%);
	background: -webkit-linear-gradient(to bottom,  #FFFfff 1%,#f9f9f9 98%);
	background: -moz-linear-gradient(to bottom,  #FFFfff 1%,#f9f9f9 98%);
	background: -o-linear-gradient(to bottom,  #FFFfff 1%,#f9f9f9 98%);
	background: linear-gradient(to bottom,  #FFFfff 1%,#f9f9f9 98%);
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #ECECEC;
	border-radius: 8px;
	border-right: 1px solid #ECECEC;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFfff', endColorstr='#f9f9f9',GradientType=0 );
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-height: 100px;
	position: relative;
	text-align: center;
	z-index: 1;
}

div.featured-box div.box-content {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border-top: 3px solid #33B8FF;
	border-top-width: 4px;
	padding: 30px 30px 10px 30px;
}

div.featured-box p a.learn-more {
	display: block;
	margin-top: 10px;
}

div.featured-box i.image-icon,
i.icon-featured {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100%;
	color: #FFF;
	font-size: 40px;
	line-height: 110px;
	margin: 25px 0;
	padding: 25px;
}

i.icon-featured {
	display: inline-block;
	padding: 0;
	width: 110px;
	height: 110px;
}

div.featured-box h4 {
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	text-transform: uppercase;
}

div.read-more,
div.read-more a,
div.learn-more,
div.learn-more a {
	display: inline-block;
	white-space: nowrap;
}

div.featured-boxes div.featured-box {
	margin-bottom: 30px;
	margin-top: 45px;
}

div.featured-boxes div.featured-box.info-content {
	text-align: left;
}

/* Primary */
div.featured-box-primary i.icon-featured,
div.featured-box-primary i.image-icon {
	background-color: #E36159;
}

div.featured-box-primary h4 {
	color: #E36159;
}

div.featured-box-primary div.box-content {
	border-top-color: #E36159;
}

/* Secundary */
div.featured-box-secundary i.icon-featured,
div.featured-box-secundary i.image-icon {
	background-color: #CCC;
}

div.featured-box-secundary h4 {
	color: #CCC;
}

div.featured-box-secundary div.box-content {
	border-top-color: #CCC;
}

/* Tertiary */
div.featured-box-tertiary i.icon-featured,
div.featured-box-tertiary i.image-icon {
	background-color: #2BAAB1;
}

div.featured-box-tertiary h4 {
	color: #2BAAB1;
}

div.featured-box-tertiary div.box-content {
	border-top-color: #2BAAB1;
}

/* Quaternary */
div.featured-box-quaternary i.icon-featured,
div.featured-box-quaternary i.image-icon {
	background-color: #734BA9;
}

div.featured-box-quaternary h4 {
	color: #734BA9;
}

div.featured-box-quaternary div.box-content {
	border-top-color: #734BA9;
}

/* Feature Box */
div.feature-box {
	clear: both;
}

div.feature-box div.feature-box-icon {
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	background: #CCC;
	border-radius: 35px;
	color: #FFF;
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 35px;
}

div.feature-box div.feature-box-info {
	padding-left: 50px;
}

div.feature-box div.feature-box-icon i.image-icon {
	position: relative;
	top: 5px;
}

div.feature-box div.feature-box-icon i.image-icon.small {
	top: 2px;
}

/* Feature Box Secundary */
div.feature-box.secundary h4 {
	color: #121214;
}

div.feature-box.secundary div.feature-box-icon {
	background: transparent;
	width: 50px;
	height: 50px;
}

div.feature-box.secundary div.feature-box-icon i.icon {
	font-size: 28px;
}

div.feature-box.secundary div.feature-box-info {
	padding-left: 60px;
}

/* Testimonials */
blockquote.testimonial {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #CCC;
	border-radius: 10px;
	border: 0;
	color: #666;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0;
	padding: 10px 50px;
	position: relative;
}

blockquote.testimonial p {
	color: #FFF;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.2em;
	line-height: 1.3;
}

blockquote.testimonial:before {
	left: 10px;
	top: 0;
}

blockquote.testimonial:before,
blockquote.testimonial:after {
	color: #FFF;
	content: "\201C";
	font-size: 80px;
	font-style: normal;
	line-height: 1;
	position: absolute;
}

blockquote.testimonial:after {
	bottom: -0.5em;
	content: "\201D";
	right: 10px;
}

div.testimonial-arrow-down {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #CCC;
	height: 0;
	margin: 0 0 0 25px;
	width: 0;
}

div.testimonial-author {
	margin: 8px 0 0 8px;
}

div.testimonial-author div.img-thumbnail {
	float: left;
	margin-right: 10px;
}

div.testimonial-author div.img-thumbnail img {
	max-width: 60px;
}

div.testimonial-author strong {
	color: #111;
	display: block;
	padding-top: 7px;
}

div.testimonial-author span {
	color: #666;
	display: block;
	font-size: 12px;
}

div.testimonial-author p {
	color: #999;
	margin: 0 0 0 25px;
	text-align: left;
}

/* Icons */
span.featured-icon {
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	background: #CCC;
	border-radius: 35px;
	color: #FFF;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 35px;
}

span.featured-icon i {
	color: #FFF;
	font-size: 0.9em;
	font-weight: normal;
}

/* Diagram */
div.diagram {
	float: left;
	height: 520px;
	margin: -50px 0;
	width: 500px;
}

div.diagram-get {
	display: none;
}

/* List */
ul.list li {
	margin-bottom: 13px;
}

ul.list.icons li i {
	color: #CCC;
	margin-right: 5px;
}

ul.list.pull-left li {
	text-align: left;
}

/* Sitemap */
ul.sitemap > li > a {
	font-weight: bold;
}

ul.sitemap.list li {
	margin: 0 0 3px 0;
}

ul.sitemap.list ul {
	margin-bottom: 5px;
	margin-top: 5px;
}

/* Icons */
ul.icons {
	list-style: none;
}

ul.icons [class^="icon-"] {
	margin-right: 5px;
}

/* Recent Posts */
div.recent-posts h4 {
	margin-bottom: 7px;
}

div.recent-posts div.date {
	float: left;
	margin-right: 10px;
	margin-top: 8px;
	text-align: center;
}

div.recent-posts div.date span.month {
	-moz-border-radius: 0 0 2px 2px;
	-moz-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
	-webkit-border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
	background: #CCC;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
	color: #FFFFFF;
	font-size: 0.9em;
	padding: 0 10px 2px;
}

div.recent-posts div.date span.day {
	background: #F7F7F7;
	color: #CCC;
	display: block;
	font-size: 18px;
	font-weight: 500;
	font-weight: bold;
	padding: 8px;
}

section.featured div.recent-posts div.date span.day {
	background: #FFF;
}

div.recent-posts article.recent-post h4 {
	margin: 0 0 3px 0;
}

div.recent-posts article.recent-post h4 a {
	display: block;
}

/* Simple Post List */
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.simple-post-list div.post-image {
	float: left;
	margin-right: 12px;
}

ul.simple-post-list div.post-meta {
	color: #888;
	font-size: 0.8em;
}

ul.simple-post-list li {
	border-bottom: 1px dotted #E2E2E2;
	min-height: 62px;
	padding: 15px 0;
}

ul.simple-post-list li:last-child {
	border-bottom: 0;
}

/* Pricing Tables */
div.pricing-table {
	margin: 25px 0 0 -15px;
	padding-left: 0;
	text-align: center;
}

body.boxed div.pricing-table {
	margin-left: -31px;
}

div.pricing-table div.most-popular {
	-moz-box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.1), -11px 0 10px -10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.1), -11px 0 10px -10px rgba(0, 0, 0, 0.1);
	border: 3px solid #CCC;
	box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.1), -11px 0 10px -10px rgba(0, 0, 0, 0.1);
	padding: 30px 20px;
	top: -10px;
	z-index: 2;
}

div.pricing-table div.most-popular h3 {
	background-color: #666;
	color: #FFF;
	padding-top: 30px;
	text-shadow: 0 1px #555;
}

div.pricing-table div.plan {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFF;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #333;
	margin-bottom: 35px;
	margin-right: -31px;
	padding: 20px;
	position: relative;
	text-shadow: 0 1px rgba(255,255,255,.8);
}

body.boxed div.pricing-table div.plan {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

div.pricing-table a.btn {
	margin-top: 5px;
}

div.pricing-table ul {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}

div.pricing-table h3 {
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	background-color: #eee;
	border-radius: 2px 2px 0 0;
	font-size: 20px;
	font-weight: normal;
	margin: -20px -20px 50px -20px;
	padding: 20px;
}

body.boxed div.pricing-table h3 {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

div.pricing-table h3 span {
	-moz-border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-border-radius: 100px;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	background: #FFF;
	border: 5px solid #FFF;
	border-radius: 100px;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	color: #777;
	display: block;
	font: bold 25px/100px Georgia, Serif;
	height: 100px;
	margin: 20px auto -65px;
	width: 100px;
}

div.pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

div.plan-ribbon-wrapper {
	height: 88px;
	overflow: hidden;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 85px;
}

div.plan-ribbon {
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-webkit-transform: rotate(45deg);
	background-color: #BFDC7A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	color: #333;
	font-size: 14px;
	left: -5px;
	padding: 7px 0;
	position: relative;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	top: 15px;
	transform: rotate(45deg);
	width: 120px;
}

div.plan-ribbon:before {
	left: 0;
}

div.plan-ribbon:before,
div.plan-ribbon:after {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	bottom: -3px;
	content: "";
	position: absolute;
}

div.plan-ribbon:after {
	right: 0;
}

/* Accordion */
.accordion-group {
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Portfolio */
div.portfolio-title {
	margin-bottom: -10px;
}

div.portfolio-title div.portfolio-nav,
div.portfolio-title div.portfolio-nav-all {
	margin-top: 11px;
}

div.portfolio-title div.portfolio-nav {
	text-align: right;
}

div.portfolio-title a {
	display: inline-block;
}

div.portfolio-title div.portfolio-nav a {
	width: 40%;
}

div.portfolio-title i.icon {
	font-size: 2.5em;
}

div.portfolio-title div.portfolio-nav-all i.icon {
	font-size: 2.7em;
}

div.portfolio-title i.icon-angle-right {
	text-align: right;
}

div.portfolio-title a.portfolio-nav-prev {
	text-align: left;
}

div.portfolio-info {
	margin: 2px 0 10px;
	float: right;
}

div.portfolio-info ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.portfolio-info ul li {
	display: inline-block;
	border-right: 1px solid #E6E6E6;
	color: #B1B1B1;
	padding-right: 8px;
	margin-right: 8px;
	font-size: 0.9em;
}

div.portfolio-info ul li:last-child {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}

div.portfolio-info ul li a {
	text-decoration: none;
	color: #B1B1B1;
}

div.portfolio-info ul li i.icon {
	margin-right: 4px;
}

div.portfolio-info ul li a:hover i.icon-heart {
	color: #E53F51;
}

/* Portfolio List */
ul.portfolio-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.portfolio-list div.portfolio-item {
	margin-bottom: 35px;
}

/* Portfolio Details */
ul.portfolio-details {
	list-style: none;
	padding: 0;
	margin: 45px 0 0 5px;
	font-size: 0.9em;
}

ul.portfolio-details li {
	padding: 0;
	margin: 0 0 20px;
}

ul.portfolio-details p {
	padding: 0;
	margin: 0;
}

ul.portfolio-details blockquote {
	padding: 0 0 0 10px;
	margin: 15px 0 0;
	color: #999;
}

ul.portfolio-details ul.list-skills li {
	margin-right: 10px;
	margin-bottom: 5px;
}

/* Team List */
ul.team-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.team-list div.team-item {
	margin-bottom: 35px;
}

ul.team-list div.team-item span.thumb-info-social-icons {
	margin: 0 10px;
}

/* Circular Bars */
div.circular-bar {
	margin-bottom: 25px;
	min-height: 210px;
}

div.circular-bar input.knob {
	visibility: hidden;
}

div.circular-bar strong {
	display: block;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
}

div.circular-bar label {
	display: block;
	font-weight: 100;
	font-size: 17px;
	line-height: 20px;
}

div.circular-bar-content {
	margin-bottom: 70px;
	margin-top: -125px;
	text-align: center;
}

/* Toggle */
section.toggle {
	margin: 10px 0 0;
	position: relative;
	clear: both;
}

section.toggle > input {
	cursor: pointer;
	filter: alpha(opacity=0);
	height: 45px;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 2;
}

section.toggle > label {
	-moz-border-radius: 8px;
	-moz-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	-webkit-border-radius: 8px;
	-webkit-transition: all .15s ease-out;
	background: #F4F4F4;
	border-left: 3px solid #CCC;
	border-radius: 8px;
	color: #CCC;
	display: block;
	font-size: 1.1em;
	min-height: 20px;
	padding: 12px 20px 12px 10px;
	position: relative;
	cursor: pointer;
	font-weight: 400;
	transition: all .15s ease-out;
}

section.toggle > div.toggle-content {
	display: none;
}

section.toggle > label:-moz-selection {
	background: none;
}

section.toggle > label i.icon-minus {
	display: none;
}

section.toggle > label i.icon-plus {
	display: inline;
}

section.toggle > label:selection {
	background: none;
}

section.toggle > label:before {
	border: 6px solid transparent;
	border-left-color: inherit;
	content: '';
	margin-top: -6px;
	position: absolute;
	right: 4px;
	top: 50%;
}

section.toggle > label:hover {
	background: #f5f5f5;
}

section.toggle > label + p {
	color: #999;
	display: block;
	overflow: hidden;
	padding-left: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 25px;
}

section.toggle > label i {
	font-size: 0.7em;
	margin-right: 8px;
	position: relative;
	top: -1px;
}

section.toggle.active i.icon-minus {
	display: inline;
}

section.toggle.active i.icon-plus {
	display: none;
}

section.toggle.active > label {
	background: #F4F4F4;
	border-color: #CCC;
}

section.toggle.active > label:before {
	border: 6px solid transparent;
	border-top-color: inherit;
	margin-top: -3px;
	right: 10px;
}

section.toggle > p.preview-active {
	height: auto;
}

section.toggle > p.preview-active,
section.toggle.active > p {
	white-space: normal;
}

/* Accordion */
a.accordion-toggle:hover,
a.accordion-toggle:focus {
	text-decoration: none;
}

a.accordion-toggle [class^="icon-"] {
	margin-right: 4px;
	position: relative;
	top: 1px;
}

/* History */
ul.history {
	margin: 0 0 25px;
	padding: 0;
	list-style: none;
}

ul.history li {
	margin: 25px 0;
	padding: 0;
	clear: both;
}

ul.history li h4 {
	margin: 0 0 -27px 0;
	padding: 0;
}

ul.history li p {
	margin-left: 53px;
}

ul.history li div.thumb {
	background: transparent url(../img/history-thumb.png) no-repeat 0 0;
	width: 227px;
	height: 160px;
	margin: 0 0 30px;
	padding: 0;
	float: left;
}

ul.history li div.thumb img {
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	margin: 7px 8px;
	width: 145px;
	height: 145px;
}

ul.history li div.featured-box {
	text-align: left;
	margin-left: 225px;
	margin-bottom: 50px;
	min-height: 115px;
}

ul.history li div.featured-box div.box-content {
	border-top-color: #CCC;
}

/* Owl Carousel */
.owl-carousel {
	position: relative;
	z-index: 1;
}

.owl-carousel .thumbnail {
	max-width: 99%;
}

.owl-carousel .owl-wrapper-outer {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.owl-carousel .img-responsive {
	display: inline-block;
}

.owl-carousel-spaced {
	margin-left: -5px;
}

.owl-carousel-spaced .owl-item > div {
	margin: 5px;
}

.owl-theme .owl-controls {
	margin-top: -5px;
}

.owl-theme .owl-controls .owl-buttons div {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-bottom: 2px solid transparent;
	filter: alpha(opacity=100);
	opacity: 1;
	padding: 1px 9px;
	margin: 2px;
}

.highlight .owl-theme .owl-controls .owl-page span {
	background-color: #FFF;
}

/* Timeline */
section.timeline {
	width: 75%;
	margin: 50px 13% 0;
	position: relative;
	float: left;
	padding-bottom: 120px;
}

section.timeline:after {
	background: rgb(80,80,80);
	background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
	background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	content: "";
	display: block;
	height: 100%;
	left: 50%;
	margin-left: -2px;
	position: absolute;
	top: -60px;
	width: 3px;
	z-index: 0;
	filter: alpha(opacity=35);
	opacity: 0.35;
}

section.timeline div.timeline-date {
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	position: relative;
	display: block;
	clear: both;
	width: 200px;
	height: 45px;
	padding: 5px;
	border: 1px solid #E5E5E5;
	margin: 0 auto 10px;
	text-shadow: 0 1px 1px #fff;
	border-radius: 4px;
	background: #FFF;
	z-index: 1;
}

section.timeline div.timeline-date h3 {
	display: block;
	text-align: center;
	color: #757575;
	font-size: 0.9em;
	line-height: 32px;
}

section.timeline .timeline-title {
	background: #F4F4F4;
	padding: 12px;
}

section.timeline .timeline-title h4 {
	padding: 0;
	margin: 0;
	color: #171717;
	font-size: 1.4em;
}

section.timeline .timeline-title a {
	color: #171717;
}

section.timeline .timeline-title div.timeline-title-tags,
section.timeline .timeline-title div.timeline-title-tags a {
	color: #B1B1B1;
	font-size: 0.9em;
}

section.timeline .timeline-box {
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	margin: 20px 10px 10px 10px;
	padding: 10px;
	position: relative;
	width: 45.7%;
	float: left;
	z-index: 1;
	margin-bottom: 30px;
	background: #FFF;
}

section.timeline .timeline-box.left {
	clear: both;
}

section.timeline .timeline-box.left:before {
	background: none repeat scroll 0 0 #E5E5E5;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #E5E5E5;
	content: "";
	display: block;
	height: 7px;
	margin-right: -5px;
	position: absolute;
	right: -6.8%;
	top: 22px;
	width: 8px;
}

section.timeline .timeline-box.left:after {
	background: #FFF;
	border-right: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	content: "";
	display: block;
	height: 14px;
	position: absolute;
	right: -8px;
	top: 20px;
	width: 14px;
	z-index: 0;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

section.timeline .timeline-box.right {
	clear: right;
	float: right;
	right: -1px;
	margin-top: 40px;
}

section.timeline .timeline-box.right:before {
	background: none repeat scroll 0 0 #E5E5E5;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #E5E5E5;
	content: "";
	display: block;
	height: 7px;
	margin-left: -5px;
	position: absolute;
	left: -7.2%;
	top: 32px;
	width: 8px;
}

section.timeline .timeline-box.right:after {
	background: #FFF;
	border-left: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	content: "";
	display: block;
	height: 14px;
	position: absolute;
	left: -8px;
	top: 30px;
	width: 14px;
	z-index: 0;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

section.timeline .timeline-box .img-thumbnail,
section.timeline .timeline-box .img-thumbnail img {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	border: 0;
}

section.timeline .timeline-box a.thumb-info {
	float: left;
	margin-bottom: -5px;
}

section.timeline .timeline-box .owl-carousel {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* Arrows */
span.arrow {
	background: transparent url(../img/arrows.png) no-repeat 0 0;
	width: 47px;
	height: 120px;
	display: inline-block;
	position: relative;
}

span.arrow.vtl {
	background-position: 0 0;
	width: 47px;
	height: 96px;
}

span.arrow.vtr {
	background-position: -101px 0;
	width: 47px;
	height: 96px;
}

span.arrow.vbl {
	background-position: 0 -144px;
	width: 47px;
	height: 96px;
}

span.arrow.vbr {
	background-position: -101px -144px;
	width: 47px;
	height: 96px;
}

span.arrow.hlt {
	background-position: -209px 0;
	width: 120px;
	height: 47px;
}

span.arrow.hlb {
	background-position: -209px -101px;
	width: 120px;
	height: 47px;
}

span.arrow.hrt {
	background-position: -353px 0;
	width: 120px;
	height: 47px;
}

span.arrow.hrb {
	background-position: -353px -101px;
	width: 120px;
	height: 47px;
}

/* Sort Source */
ul.sort-source {
	clear: both;
}

div.sort-source-wrapper {
	padding: 8px 0;
	position: relative;
}

div.sort-source-wrapper .nav {
	margin: -100px 0 5px;
}

div.sort-source-wrapper .nav > li > a {
	color: #FFF;
}

div.sort-source-wrapper .nav > li > a,
div.sort-source-wrapper .nav > li > a:hover,
div.sort-source-wrapper .nav > li > a:focus,
div.sort-source-wrapper .nav > li.active > a,
div.sort-source-wrapper .nav > li.active > a:hover,
div.sort-source-wrapper .nav > li.active > a:focus {
	background: transparent;
}

/* Sort Destination */
.sort-destination.full-width {
	margin: 0 0 -81px;
	position: relative;
	top: -51px;
}

.sort-destination.full-width .isotope-item {
	width: 20%;
	float: left;
}

.sort-destination.full-width .isotope-item .img-thumbnail,
.sort-destination.full-width .isotope-item a,
.sort-destination.full-width .isotope-item .thumb-info img {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	float: left;
}

.sort-destination.full-width .isotope-item .img-thumbnail {
	border: 0;
	padding: 0;
	margin: 0;
}

/* Google Maps */
div.google-map {
	background: #E5E3DF;
	height: 180px;
	width: 100%;
}

.parallax + div.google-map {
	margin-top: -70px;
}

div.google-map img {
	max-width: 9999px;
}

/* Search Results */
div.search-results {
	min-height: 300px;
}

/* Image Icons */
i.image-icon {
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	overflow: hidden;
}

i.image-icon.small {
	width: 16px;
	height: 16px;
}

i.image-icon.big {
	width: 110px;
	height: 110px;
}

/* Image Icon Example */
i.image-icon.user {
	background-image: url(../img/icons/icon-user-24.png);
}

i.image-icon.user.small {
	background-image: url(../img/icons/icon-user-16.png);
}

i.image-icon.user.big {
	background-image: url(../img/icons/icon-user-48.png);
}

/* Counters */
div.counters strong {
	display: block;
	font-weight: 600;
	font-size: 60px;
	line-height: 60px;
}

div.counters label {
	display: block;
	font-weight: 100;
	font-size: 20px;
	line-height: 20px;
}

/* Word Rotate */
span.word-rotate {
	visibility: hidden;
	width: 100px;
	height: 0px;
	margin-bottom: -7px;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	position: relative;
}

h1 span.word-rotate,
h2 span.word-rotate {
	margin-bottom: -12px;
}

span.word-rotate.active {
	visibility: visible;
	width: auto;
}

span.word-rotate-items {
	position: relative;
	top: 0;
	width: 100%;
}

span.word-rotate-items span {
	display: block;
	white-space: nowrap;
}

/* Panels */
.panel-heading {
	padding: 0;
}

.panel-heading a {
	display: block;
	padding: 10px 15px;
}

/* Social Icons */
ul.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}

ul.social-icons li {
	background-image: url(../img/social-sprites.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: 0 100px;
	display: inline-block;
	margin: -1px 1px 5px 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
	transition: all 0.3s ease;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-border-radius: 100%;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-border-radius: 100%;
	-webkit-transition: all 0.3s ease;
}

ul.social-icons li a {
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
}

ul.social-icons li[class] a {
	text-indent: -9999px;
}

ul.social-icons li a:hover {
	text-decoration: none;
}

ul.social-icons li a i[class^="icon-"] {
	color: #444;
	font-style: 16px;
	position: relative;
	top: 3px;
}

ul.social-icons li a:active {
	box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3);
}

ul.social-icons li:active,
ul.social-icons li a:active {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

ul.social-icons li.digg {
	background-position: 0 0;
}

ul.social-icons li.digg:hover {
	background-position: 0 -30px;
}

ul.social-icons li.dribbble {
	background-position: 0 -60px;
}

ul.social-icons li.dribbble:hover {
	background-position: 0 -90px;
}

ul.social-icons li.facebook {
	background-position: 0 -120px;
}

ul.social-icons li.facebook:hover {
	background-position: 0 -150px;
}

ul.social-icons li.flickr {
	background-position: 0 -180px;
}

ul.social-icons li.flickr:hover {
	background-position: 0 -210px;
}

ul.social-icons li.forrst {
	background-position: 0 -240px;
}

ul.social-icons li.forrst:hover {
	background-position: 0 -270px;
}

ul.social-icons li.googleplus {
	background-position: 0 -300px;
}

ul.social-icons li.googleplus:hover {
	background-position: 0 -330px;
}

ul.social-icons li.html5 {
	background-position: 0 -360px;
}

ul.social-icons li.html5:hover {
	background-position: 0 -390px;
}

ul.social-icons li.icloud {
	background-position: 0 -420px;
}

ul.social-icons li.icloud:hover {
	background-position: 0 -450px;
}

ul.social-icons li.lastfm {
	background-position: 0 -480px;
}

ul.social-icons li.lastfm:hover {
	background-position: 0 -510px;
}

ul.social-icons li.linkedin {
	background-position: 0 -540px;
}

ul.social-icons li.linkedin:hover {
	background-position: 0 -570px;
}

ul.social-icons li.myspace {
	background-position: 0 -600px;
}

ul.social-icons li.myspace:hover {
	background-position: 0 -630px;
}

ul.social-icons li.paypal {
	background-position: 0 -660px;
}

ul.social-icons li.paypal:hover {
	background-position: 0 -690px;
}

ul.social-icons li.picasa {
	background-position: 0 -720px;
}

ul.social-icons li.picasa:hover {
	background-position: 0 -750px;
}

ul.social-icons li.pinterest {
	background-position: 0 -780px;
}

ul.social-icons li.pinterest:hover {
	background-position: 0 -810px;
}

ul.social-icons li.reddit {
	background-position: 0 -840px;
}

ul.social-icons li.reddit:hover {
	background-position: 0 -870px;
}

ul.social-icons li.rss {
	background-position: 0 -900px;
}

ul.social-icons li.rss:hover {
	background-position: 0 -930px;
}

ul.social-icons li.skype {
	background-position: 0 -960px;
}

ul.social-icons li.skype:hover {
	background-position: 0 -990px;
}

ul.social-icons li.stumbleupon {
	background-position: 0 -1020px;
}

ul.social-icons li.stumbleupon:hover {
	background-position: 0 -1050px;
}

ul.social-icons li.tumblr {
	background-position: 0 -1080px;
}

ul.social-icons li.tumblr:hover {
	background-position: 0 -1110px;
}

ul.social-icons li.twitter {
	background-position: 0 -1140px;
}

ul.social-icons li.twitter:hover {
	background-position: 0 -1170px;
}

ul.social-icons li.vimeo {
	background-position: 0 -1200px;
}

ul.social-icons li.vimeo:hover {
	background-position: 0 -1230px;
}

ul.social-icons li.wordpress {
	background-position: 0 -1260px;
}

ul.social-icons li.wordpress:hover {
	background-position: 0 -1290px;
}

ul.social-icons li.yahoo {
	background-position: 0 -1320px;
}

ul.social-icons li.yahoo:hover {
	background-position: 0 -1350px;
}

ul.social-icons li.youtube {
	background-position: 0 -1380px;
}

ul.social-icons li.youtube:hover {
	background-position: 0 -1410px;
}

ul.social-icons li.github {
	background-position: 0 -1440px;
}

ul.social-icons li.github:hover {
	background-position: 0 -1470px;
}

ul.social-icons li.behance {
	background-position: 0 -1500px;
}

ul.social-icons li.behance:hover {
	background-position: 0 -1530px;
}

ul.social-icons li.yelp {
	background-position: 0 -1560px;
}

ul.social-icons li.yelp:hover {
	background-position: 0 -1590px;
}

ul.social-icons li.mail {
	background-position: 0 -1620px;
}

ul.social-icons li.mail:hover {
	background-position: 0 -1650px;
}

ul.social-icons li.instagram {
	background-position: 0 -1680px;
}

ul.social-icons li.instagram:hover {
	background-position: 0 -1710px;
}

ul.social-icons li.foursquare {
	background-position: 0 -1740px;
}

ul.social-icons li.foursquare:hover {
	background-position: 0 -1770px;
}

ul.social-icons li.zerply {
	background-position: 0 -1800px;
}

ul.social-icons li.zerply:hover {
	background-position: 0 -1830px;
}

ul.social-icons li.vk {
	background-position: 0 -1860px;
}

ul.social-icons li.vk:hover {
	background-position: 0 -1890px;
}

/* Captcha */
div.captcha {
	clear: both;
	overflow: hidden;
	background: #F2F2F2;
	text-align: center;
	margin-bottom: 20px;
	max-width: 160px;
}

div.captcha-image {
	float: left;
	position: relative;
	top: -25px;
	left: -13px;
}

div.captcha input {
	border: 0;
}

/* Popup */
.popup-inline-content {
	background: none repeat scroll 0 0 #FFF;
	margin: 40px auto;
	max-width: 1170px;
	padding: 20px 30px;
	position: relative;
	text-align: left;
	display: none;
}

.mfp-wrap .popup-inline-content {
	display: block;
}

/* Offset Anchor */
.offset-anchor {
	display: block;
	position: relative;
	visibility: hidden;
	top: -100px;
}